table.mt-3.table.table-hover
	tr
		td: strong 编码:
		td #{nation.code}
	tr
		td: strong 本国名称:
		td #{nation.nome}
	tr
		td: strong 英文名称:
		td #{nation.nomeEN}
	tr
		td: strong 中文名称:
		td #{nation.nomeCN}
	tr
		td: strong 国家邮编:
		td #{nation.tel}
	tr
		td: strong 权重:
		td #{nation.weight}