table.mt-3.table.table-hover
	tr
		td: strong 编号:
		td #{bnCategFir.code}
	tr
		td: strong 意大利文名称:
		td #{bnCategFir.nome}
	tr
		td: strong 英文名称:
		td #{bnCategFir.nomeEN}
	tr
		td: strong 中文名称:
		td #{bnCategFir.nomeCN}
	tr
		td: strong 权重:
		td #{bnCategFir.weight}